{% extends "base_template.html" %}
{% block title %}{{ slug_title }}{% endblock %}
{% block content %}
<a class="btn btn-primary" href="/" role="button">Regresar al inicio</a>
    <h2>Sobre mi carrera<br>
    Intenieria en sistemas<br></h3>
    <H6> Una carrera que me decidi a estudiar debido a que la innovacion tecnologia es algo que desde 
    siempre ha llamado mi atencion, pues la robotica, la programacion <strike>y el dinero</strike><br>
    Tambien debido al alto uso de matimaticas que se emplea ha sido una carrera interesante y atractiva
    para mi desde un principio, por lo cual, aqui estoy, "programando" una pagina web simple para mi examen <br>
    La ingenieria en sistemas es una ingenieria en la cual se desmonta desde la raiz los computadores y su funcionamiento
    no basta con decir "esto es un lenguaje de programacion" <br>
    pues hay que saber que es ese lenguaje para que se usa y porque existe, al igual desde un punto interno del computador, donde no se quedan con un <br>
    "la tarjeta madre es donde van los componentes" sino que se estudia el porque de su arquitectura y el lugar en el que esta situado cada componente.<br></H6>
    <h5>Por eso es que quiero estudiar esta ingeniera, es por eso que me frustre por no poder hacer mejor esto y por lo cual seguire estudiando.</h4>
{% endblock %}